html{
    background-color: #fff;
}

body{
    background-color: #ede6e6;
    margin: 0 auto;
    width: 990px;
    font-family: sans-serif, 'Segoe UI', Tahoma;
}

a {
    text-decoration: none;
    color: #4D5159;
    
}
 

/* start header*/
header {
    overflow: auto;

}
header .nav-left-side{
    float: left;
width: 330px;
}
header .nav-right-side{
    float: right;
    width: 330px;
    text-align: right;
}
header .logo{
    width: 330px;
    float: left;
    text-align: center;
    padding-top: 20px;
}
header .logo p{
    font-size: 36px;
    margin: 0px;
    color:  rgb(179, 55, 55);
    font-weight: 550;
}
 ul{
    padding: 0px;
    padding-top:100px ;
    list-style: none;
    
}
 li{
    display: inline-block;
    padding: 10px 15px 10px 15px ;
    font-size: 17px;
    

}
header li:first-child{
    border-right: 1px solid#4D5159;
}

/*end header*/

/* start main section*/
.main{
    text-align: center;
    background-image: url(images/dishes.jpg);
    height: 440px;
    background-size: cover;
}

.main h1, h2 {
    margin: 0px;
    color: rgb(179, 55, 55);
    padding-top:20px ;
    font-weight: 450px;
}

.main form{
    padding-top: 30px;
}

.main form #email{
    width: 250px;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    padding-left: 10px;
}
.main form .btn{
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}
.main form .btn:hover {
    background-color:#E8C772;
}

.main-content
{
    /*display: flex;
    justify-content: space-around;*/
    overflow: auto;
    padding: 22px 0px;
    
}

.main-content .content{
    float: left;
    margin-left: 22px;
    position: relative;

}
.main-content .content a {
    position: relative;
}
.main-content .content img{
    width: 100%;
    z-index: 1;
}

.main-content .content p {
width: 100%;
text-align: center;
position: absolute;
top: -240px   ;
z-index: 2;
margin: 0;
font-size: 26px;
color: rgb(39, 24, 24);

}

.main-content .content .text
{
    color: rgb(236, 221, 221);
}
/*end main section*/

/*start footer*/
footer{
    text-align: center;
    background-color: #e5e0e0;
    margin: 0px;
    height: 140px;
    padding-top: 20px;
}

nav ul{
    padding-top: 20px;
    margin: 0;
}
footer li{
    border-right: 1px solid #4D5159;
}
footer li:last-child{
    border: none;
}
 /*end footer*/